# Virtual environment
.venv/

# Environment variables
.env

# Chroma local db
chroma_db/

# Python
__pycache__/
*.pyc
*.pyo

# Data, source file
data/

# Scripts
convert_pdf.py
fetch_document.py

# OS
.DS_Store